* {
  border-sizing: border-box;

}

body{
  width: 98%;
  background: salmon;
}

header {
  display: block;
  margin:auto;
  text-align: center;
}

.fishPicture {
  margin: auto;
  display: block;
  position: relative;
  width: 50%;
}

#storeContainer {
  width: 100%;
  margin-top: 30px;
  display: block;
  position: relative;
  height: 24vw;
}

#storeContainer #firstAndPike {
  left: 5%;
  position: absolute;
  width: auto;
  top: 0px;
}

#storeContainer #seatacAirport {
  left: 23%;
  position: absolute;
  width: auto;
  top: 0px;
}

#storeContainer #seattleCenter {
  left: 44%;
  position: absolute;
  width: auto;
  top: 0px;
}

#storeContainer #capitolHill {
  float:left;
  right: 23%;
  position: absolute;
  width: auto;
  top: 0px;
}

#storeContainer #alki {
  right: 5%;
  position: absolute;
  width: auto;
  top: 0px;
}
