* {
  border-sizing: border-box;

}

html {
  cursor: cell;;
}

body{
  width: 98vw;
  background: salmon;
}

header {
  position: relative;
  display: block;
  margin:auto;
  text-align: center;
}

.fishPicture {
  margin: auto;
  display: block;
  position: relative;
  width: 70vw;
}

#section1 {
  width: 98vw;
}

table {
  border-spacing: 5px;
  border: 2px solid black;
  display: block;
  width: 94vw;
  margin: auto;
  text-align: center;
}

th, td {
  border:1px solid black;
  border-spacing: 5px;
  font-size: 1.5vw;
}

td {
  width: 4vw;
  background-color: #FFB3A8;
}

th {
  background-color: #40B27C;
}

#section2 {
  width: 98vw;
}

ul {
  width: auto;
  margin: auto;
}

li {
  width: auto;
}
