* {
  border-sizing: border-box;
  z-index: 2;
}

html {
  cursor: cell;;
}

body{
  width: 90%;
  margin: auto;
  background-image: url(../img/Stock-Fish-Throw.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 1;
}

main {
  display: block;
  width: 100%;
}
/*CSS for Header*/
header {
  width: 100%;
  position: relative;
  margin: 4% auto 4% auto;
  top: 0px;
}

header h1 {
position: absolute;
text-align: center;
width: 100%;
z-index: 99;
top: 43%;
font-size: 2.8vw;
color: #E2DCDB;
font-family: 'Pacifico', cursive;
text-shadow: 3px 3px 3px salmon;
}

#salmonPic {
  display: block;
  margin: auto;
  width: 90%;
  border: 2px solid black;
  border-radius: 50%;
  background-color: rgba(84, 26, 17, 0.75);
  box-shadow: 10px 10px 30px rgba(20, 4, 4, 0.78);
}
/*CSS for table*/
#table {
  width: 100%;
}
.tableul {
  width: 100%;
  margin: 0px;
  padding: 0px;
  border-radius: 5px;
}

#table div {
  width: 80%;
  display: block;
  padding: 2.5% 10% 2.5% 10%;
  background-color: #687680;
  margin: auto;

}

table {
  border-spacing: 5px;
  border: 2px solid black;
  width: 100%;
  text-align: center;
  font-family: 'Cabin', sans-serif;
}

th, td {
  border:1px solid black;
  border-spacing: 5px;
  font-size: 1.5vw;
}

td {
  width: 4vw;
  background-color: #FFB3A8;
}

th {
  background-color: #40B27C;
}

/*CSS for Form*/
#form {
  width: 100%;
  padding: 5% 0% 5% 0%;
  background-color: rgba(85, 42, 42, 0.78);
  border: 2px solid black;
  border-radius: 5px;
}

.input {
  width: 5%;
}

.submit {
  width: 15%;
  background-color: #25421E;
  color: #B0D4D5;
  font-size: 1vw;
  clear: left;
  display: block;
  margin: 2% 42.5% 2% 42.5%;
}

.labels {
  color: #25421E;
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.5vw;
}

ul {
  width: 100%;
  margin: 2% 0 2% 0;
}

ul p {
  text-align: center;
  color: #25421E;
  font-size: 2vw;
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

li {
  width: auto;
  display: inline;
  margin-left: 1%;
  margin-right: 1%;
}

/*CSS for Merchandise*/

#theMerchandise {
  width: 100%;
  float: right;
  outline: 2px dotted blue;
}

#theMerchandise img {
  width: 50%;
  clear: left;
}

#theMerchandise subImg {
  clear: left;
}
